@page
@model CarePathway.Pages.ObservationsForPatients.IndexModel
<div class="col-12" style="text-align:center">
        <br />
        <span class="h3 text-info">Observations For Patients List</span>
        <br /><br />

    </div>
    <div class="col-12" style="text-align:center">
        <table id="observation4Patients_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                        <th>
                            MRN
                        </th>
                        <th>
                            Patient Name
                        </th>
                        <th>
                            Observation
                        </th>
                        <th>
                            Index
                        </th>
                         <th>
                            Value
                        </th>
                       
                </tr>

            </thead>


        </table>

    </div>
</div>
@section Scripts{

    <script src="~/js/ObservationForPatientsList.js"></script>
}

